<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单</title>
</head>
<body>
<div class="goask">
	<div class="question">
    	<div  class="title"><span>问题分类：</span></div>
        <select class="marl1">
        	<option>问题分类</option>
            <option>问题分类</option>
            <option>问题分类</option>
            <option>问题分类</option>
        </select>
        <select class="marl">
        	<option>问题分类</option>
            <option>问题分类</option>
            <option>问题分类</option>
            <option>问题分类</option>
        </select>
    </div>
	<div class="question">
    	<div  class="title"><span>问题标题：</span></div>
        <input class="marl1 inputt" type="text" value="最多支持30个汉字字符长度" />
    </div>
	<div class="question">
    	<div  class="title"><span>问题标题：</span></div>
        <textarea class="ques-text marl1" rows="3" name=""></textarea>
    </div>
	<div class="question">
        <label class="" >匿名</label ><input class="checkb" type="checkbox" />
        <div style=" clear:both"></div>
    </div>
    <div class="question">
        <a href="javascript:void(0)" class="gosub"></a>
    </div>
    

</div>
</body>
<script type="text/javascript">
$(".gosub").click(function(){
		//alert(333);
	window.MessageBox({
		title:"标题",
		content:'<p style="font-size:18px; text-align:center; padding:30px 70px 20px 0;">恭喜你，获得 10 创业币积分。</p><p style=" font-size:12px; line-height:18px; color:#ff0000; width:445px; padding-left:70px; font-family:"微软雅黑"">友情提示:</p><p style=" font-size:12px; line-height:18px; width:445px; padding-left:70px; padding-bottom:15px; font-family:"微软雅黑";">提问中如果含有违反国家法律的信息，直接从你的创业币总积分中扣除20创业币，管理员将删除此提问。</p>',
		btn:"ok",
		width:570,
		target:"new"
	  });						   
})

</script>
</html>
