<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单</title>
<script type="text/javascript">
$(function() {

        $(".fdiv:gt(0)").hide();
           var contab = $("#.conleft .asktit a")  
           contab.hover(function(){  
           $(this).addClass("on").siblings().removeClass("on");	
        });  
        contab.click(function(){  
           $(this).addClass("on");   
           var congcong_index = $("#.conleft .asktit a").index(this);  
           $(".questcon").eq(congcong_index).show().siblings().hide();  
			 
        })   
});

</script>
</head>

<body>
<div class="myaskcon">
	<div class="conleft">
    	<div class="asktit">
        	<a class="on" href="javascript:;">我的提问（100）</a>
            <a class="" href="javascript:;">我的回答（100）</a>
        </div>
        <div class="questbox">
       
        <div style="display: block;" class="questcon">
          <ul>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action1" href="" target="">去处理</a>
            </li>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action2" href="" target="">去处理</a>
            </li>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action1" href="" target="">去处理</a>
            </li>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action2" href="" target="">去处理</a>
            </li>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action1" href="" target="">去处理</a>
            </li>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action2" href="" target="">去处理</a>
            </li>
          </ul>
        </div>
        <div style="display: none;" class="questcon">
          <ul>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action1" href="" target="">去处理</a>
            </li>
            <li>
              	<p class="questl">匿名用户、钟涛 2人参与了回答</p>
                <p class="questb">
                	<span class="p1">12个回答</span><span class="p2">浏览次数：50</span><span class="p3">2014-2-27 12:23:25</span>
                </p>
                <a class="action2" href="" target="">去处理</a>
            </li>
 
          </ul>
        </div>
        </div>
        <div style="margin-bottom: 20px" class="ryl_search_result_page">
            <div class="page-effect">
                <a class="moreWidth arrow">上一页</a>
                <a class="current">1</a>
                <a href="http://wen.myczzs.com/daili/all-p2/">2</a>
                <a href="http://wen.myczzs.com/daili/all-p3/">3</a>
                <a rel="next" class="arrow" href="http://wen.myczzs.com/daili/all-p2/">下一页</a>
            </div>
        </div>
    </div>
	<div style="float:right;">
        <div class="askrightimg pb">
            <div class="ngask"><p>共解决<span>1</span><span>0</span><span>6</span>个问题</p></div>
        <!--add go ask-->
            <div class="myquestion">
                <a target="_blank" href="" class="myask">我的提问<span>(20)</span></a>
                <a target="_blank" href="" class="myask">我的回答<span>(1000)</span></a>
                <a target="_blank" href="" class="igoask"></a>
            </div>
        </div>    
        <div class="askbottomright floright">
        
            <div class="askannouncement">
                <h2>问答频道公告</h2>
                <ul class="announcementlist">
                    <li><span>1</span><a href="http://wen.myczzs.com/gonggao/102.shtml" target="_blank">企业如何加盟一句话创业网？</a></li>
                    <li><span>2</span><a href="http://wen.myczzs.com/gonggao/101.shtml" target="_blank">在问答频道发创业问题的好处有哪些？</a></li>
                </ul>
            </div>
            <div class="entrepreneurship">
                <h2>创业者常问问题</h2>
                <ul class="entrlist">
                    <li><a href="http://wen.myczzs.com/question/10101.shtml">法定人数地方</a></li>
                    <li><a href="http://wen.myczzs.com/question/10098.shtml">测试问题 sso</a></li>
                    <li><a href="http://wen.myczzs.com/question/10074.shtml">234132</a></li>
                </ul>
            </div>
            <div class="entrepreneurship">
                <h2>创业学知识推荐</h2>
                <ul class="entrlist">
                    <li><a title="" href="">网店代理开店技巧-如何给宝贝命名</a></li>
                    <li><a title="" href="">品牌童装代理店主应把握好的开店技巧</a></li>
                    <li><a title="" href="">开品牌家纺代理店须知的运营技巧</a></li>
                </ul>
            </div>
		</div>
    </div>

    
</div>
</body>

</html>
