# Turn on URL rewriting
#RewriteEngine On

# Installation directory
#RewriteBase /

# Protect hidden files from being viewed
#<Files .*>
#    Order Deny,Allow
#    Deny From All
#</Files>

# Protect application and system files from being viewed
rewrite ^(?:application|modules|system)(\b.*) index.php/$1 last;

# Allow any files or directories that exist to be displayed directly

#TODO 待加S标志
#精准匹配
rewrite ^/zhuntouzi.htm$ /platform/guide;
#随便逛逛
rewrite ^/guangtouzi.htm$ /platform/browsing/showbrowsing;


#TODO 统一整理成一个controller,修改成一条规则即可
rewrite ^project/([a-zA-Z]+)/([0-9]+).htm$ platform/project/$1?projectid=$2 last;
#项目封面
rewrite ^project\/([0-9]+)\.htm$ platform/project/index?projectid=$1 last;

#项目图片
rewrite ^project\/([0-9]+)\.htm$ platform/project/getImage?projectid=$1 last;

#帮助中心规则
rewrite ^help/([a-z0-9]+).htm$ platform/help/$1 last;



#其他静态链接，映射到根目录下
#投资保障
rewrite ^/touzibao.htm$ /platform/static/touzibao;
#微信
rewrite ^/weixin.htm$ /platform/static/weixin;
#网站地图
rewrite ^/sitemap.htm$ /platform/static/sitemap;
#友情链接
rewrite ^/link.htm$ /platform/static/link;

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
rewrite /.* /index.php/$1 last;




